* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #0B0B45; */
    display: flex;
    height: 100vh;
    margin-left: auto;
    place-items: center;
    width: 80%;
}

main {
    display: grid;
    text-align: center;
    grid-template-areas: 'a a b c'
    'd e e c'
    'd f f c';
    gap: 10px;
    width: 60%;
    margin: auto;
    background-color: #0B0B45;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}

main div {
    padding: 2em;
}

.item-a {
    background-color:orangered;
    grid-area: a;
}

.item-b {
    background-color: darkorange;
    grid-area: b;
}

.item-c {
    /* background-color: rgb(53, 50, 50); */
    grid-area: c;
}

.item-d {
    background-color: limegreen;
    grid-area: d;
}

.item-e {
    background-color: hsl(184, 93%, 43%);
    grid-area: e;
}

.item-f {
    background-color: hsl(184,93%,43%);
    grid-area: f;
}

a {
    text-align: center;
    margin-left: 50px;
    align-items: center;
}